<div class="pre-header">
    <div class="container">
    	<div class="row">
    		<div class="col-md-3 col-sm-3">
		 		<a class="site-logo" href="<%= root_path %>">
		 			<img src="http://placehold.it/190x70" alt="Metronic FrontEnd">
		 		</a>
    		</div>	
    		<div class="col-md-6 col-sm-6 search-varieties">
				<%= form_tag searches_search_path, method: :get do %>
					<%= search_field(:keyword, :name, :placeholder => "Encuentra variedades y noticias", :autocomplete => "off", :class => "search-plant", :remote => true) %>
				<% end %>
				<div class="search-results container pull-left col-md-6 col-sm-6">
					<ul class="list-unstyled">
					</ul>
				</div>
    		</div>	
    		<div class="col-md-3 col-sm-3">
				<% if user_signed_in? %>
	    			<ul class="user-logged list-login list-unstyled list-inline pull-right">
                    	<li class="dropdown">
                    		<%= link_to "#{current_user.username} <i class='fa fa-caret-down pull-right'></i>".html_safe, 'javascript:void(0);', :class => 'dropdown-toggle', :"data-toggle" => 'dropdown' %>
                    		<ul class="dropdown-menu dropdown-menu-profile">
								<li>
									<%= link_to '<i class="fa fa-user"></i> Mi Perfil'.html_safe, edit_user_registration_path, :class => 'profile' %>
								</li>
								<li>
									<%= link_to '<i class="fa fa-sign-out"></i> Cerrar Sesion'.html_safe, destroy_user_session_path, method: :delete, :class => '' %>
								</li>
							</ul>             
                    	</li>
	                </ul>
                <% else %>	
					<ul class="list-login list-unstyled list-inline pull-right">
						<li class="col-md">
							<%= link_to 'Registrate', new_user_registration_path, :class => 'sign-up' %>
						</li>
                    	<li class="col-md">
							<%= link_to 'Iniciar Sesion', new_user_session_path, :class => 'sign-in' %>
						</li>
            		</ul>
                <% end %>	
    		</div>	
    	</div>
    	<% if !flash.nil? %>
	    	<div class="row">
	    		<div class="col-md-12 col-sm-12">
		    		<% flash.each do |key, value| %>
				    	<p class="bg-info text-info msg-success"><%= value %><i class="pull-right fa fa-times"></i></p>
				    <% end %>
	    		</div>
	    	</div>	    		
    	<% end %>
    </div>        
</div>

<div class="header">
	<div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-4 additional-shop-info">
				<nav class="header-navigation pull-left font-transform-inherit">
					<ul>
						<li class="dropdown">
							<%= link_to "Home", root_path %>  
						</li>
						<li class="dropdown">
							<%= link_to "Noticias", root_path %>  
						</li>
						<li class="dropdown">
							<%= link_to "Growshops", root_path %>  
						</li>			
						<li class="dropdown">
							<%= link_to "Variedades", plants_path, {:class => "dropdown-toggle"} %>  
							<ul class="dropdown-menu">
								<% strains.each do |strain| %>
								  <li><%= link_to strain.name, strain %></li>
								<% end %>
								
							</ul>
						</li>
					</ul>
				</nav>
            </div>
        </div>	    		
	</div>
</div>