<div class="container padding-top-20">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <% flash.each do |key, value| %>
        <p class="bg-info text-info msg-success"><i class="pull-right fa fa-times"></i><%= value %></p>
      <% end %>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-8 col-xs-8">
        <h2><%= "Iniciar Sesion" %></h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-review"}) do |f| %>
          <div class="form-group">
            <%= f.label(:username, "Nombre de Usuario") %><br />
            <%= f.text_field :username, autofocus: true, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label(:password, "Contraseña") %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label(:remember_me, "Recordar Contraseña") %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit("Iniciar Sesion", class: "btn btn-success review-btn") %>
          </div>
        <% end %>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>
</div>